@import url("pygments.css");

:root {
    --tag-scale-zero: 0.8rem;
    --tag-scale-unit: 0.15rem;
    --zcard-size: 280px;
}
a { color: #464748;
    text-decoration: none;}

a:hover {  color: #0300aa;
           text-decoration: underline;}

/* font size adjustment */
.f-r05 {font-size: 0.5rem !important;}
.f-r06 {font-size: 0.625rem !important;}
.f-r07 {font-size: 0.750rem !important;}
.f-r08 {font-size: 0.8rem !important;}
.f-r09 {font-size: 0.9rem !important;}
.f-r10 {font-size: 1.0rem !important;}
.f-r12 {font-size: 1.25rem !important;}
.f-r15 {font-size: 1.5rem !important;}
.f-r20 {font-size: 2.0rem !important;}
.f-r25 {font-size: 2.5rem !important;}

/* article tag sizing */
.tag-scale-0 {font-size: calc(var(--tag-scale-zero) + (var(--tag-scale-unit) * 0)) !important;}
.tag-scale-1 {font-size: calc(var(--tag-scale-zero) + (var(--tag-scale-unit) * 1)) !important;}
.tag-scale-2 {font-size: calc(var(--tag-scale-zero) + (var(--tag-scale-unit) * 2)) !important;}
.tag-scale-3 {font-size: calc(var(--tag-scale-zero) + (var(--tag-scale-unit) * 3)) !important;}
.tag-scale-4 {font-size: calc(var(--tag-scale-zero) + (var(--tag-scale-unit) * 4)) !important;}
.tag-scale-5 {font-size: calc(var(--tag-scale-zero) + (var(--tag-scale-unit) * 5)) !important;}
.tag-scale-6 {font-size: calc(var(--tag-scale-zero) + (var(--tag-scale-unit) * 6)) !important;}
.tag-scale-7 {font-size: calc(var(--tag-scale-zero) + (var(--tag-scale-unit) * 7)) !important;}
.tag-scale-8 {font-size: calc(var(--tag-scale-zero) + (var(--tag-scale-unit) * 8)) !important;}
.tag-scale-9 {font-size: calc(var(--tag-scale-zero) + (var(--tag-scale-unit) * 9)) !important;}


/* imagezoom front page featured cards */

.zcard {
	width: 100%;				/* fill the whole allocated container */
	overflow: hidden;			/* hide any oversize content bigger than this card - for the zoom effect */
	border-radius: 0.8rem;		/* rounded corners */
	position: relative;			/* setup for the child container to be absolute positioned inside */
}

.zcard-lg {						/* vertical size of the zcards, for the bigger left panel */
	height: calc(var(--zcard-size) * 2 + 20px);
}

.zcard-sm {						/* vertical size of smaller right panels of the zcards*/
	height: var(--zcard-size);
}

.zcard-body {						/* this element holds the background image */
	height: 100%;					/* use this zcard-body to fill the entire parent container */
	width: 100%;					/* as above */
	background-position: center;	/* take the center portion of the background-image */
	background-repeat: no-repeat;	/* only show once if the image is 'too small' */
	background-size: cover;			/* resize the image to cover the entire container */
	position: relative;				/* set position property for the ::after pseudo element */
	z-index: 1;						/* behind the ::after layer */
}

.zcard-body::after{					/* psuedo element - this replicate the same background (in a different z-index) to zoom so it doesn't affect the other elements */
	position: absolute;				/* absolute position to line up this background with the original one */
	top: 0;
	left: 0;
	width: 100%;					/* full size */
	height: 100%;					/* full size */
	content: "";
	background: inherit;			/* inherit the background settings */
	transition: transform 0.5s ease;
	z-index: 2;						/* between the base background layer and the zcard-bottom layer */
}

.zcard:hover .zcard-body::after{   /* zoom in slightly of the above psuedo element */
	transform: scale(1.05);
}

.zcard-bottom {						/* bottom dark gradient for ease of show text */
	position: absolute;
	bottom: 0;
	left: 0;
	height: 40%;
	width: 100%;
	color: white;				 
	background-image: linear-gradient(180deg, rgba(255, 255, 255, 0), rgba(0, 0, 0, 1)); /* fake image as the gradient */
	z-index: 3;						/* important  bring these elements to the front layer */
}


.zcard-link, .zcard-link > h2, .zcard-link > h4 {
	color: white;
	text-decoration: none;
}

.zcard-link.badge:hover {
	color: white;
	text-decoration: none;
}

.zcard-link.d-block:hover {
	color: white;
	text-decoration: underline double white;
}