<div class="row py-4">
  {% set nsp = namespace() %}
  {% set nsp.count = 0 %}
  {% for article in articles %}
    {% if article.featured_article and nsp.count < 3 %}
    {% set nsp.count = nsp.count + 1 %}

    <div class="col-12 col-lg-4">
      <div class="icard" style="background-image: url({{SITEURL}}/theme/images/0{{nsp.count + 3}}_002.jpg);">
        <div class="icard-content">
          {{category_link(article.category, CAT_COLOR)}}
          <a class="icard-link icard-title" title="{{article.title}}" href="{{SITEURL}}/{{article.url}}"><h1 class="h3">{{article.title}}</h1></a>
        </div>
      </div>
    </div>

    {% endif %}
  {% endfor %}
</div>