<section class="container px-0">
  <div class="row">

    <div class="col-12 col-md-6">
      {{zoomcard("lg", "theme/images/06.jpg", "Movies", "bg-primary", "#", "#",  "This is the card title movie category", "the summary of this article is quite long but if use template it's fine.")}}
    </div>

    <div class="col-12 col-md-6 pb-4">

      <div class="row">
        <div class="col-12 pb-4">
          {{zoomcard("sm", "theme/images/03.jpg", "Travel",  "bg-danger", "#", "#", "This is the card title")}}
        </div>
      </div>

      <div class="row">
          <div class="col-12 col-md-6 pb-4">
            {{zoomcard("sm", "theme/images/05.jpg", "Travel", "bg-warning", "#", "#",  "This is the card title")}}
          </div>
          <div class="col-12 col-md-6 pb-4">
            {{zoomcard("sm", "theme/images/04.jpg", "Travel",  "bg-success", "#", "#", "This is the card title")}}
          </div>
      </div>

    </div>

  </div>  
</section>