{% extends('base.html') %}
{% block content %}
<h3>{{author.name}}</h3>
<div class="py-3">
  {% for article in articles_page.object_list %}
    <p><a href="{{SITEURL}}/{{article.url}}">{{article.title}}</a></p>
  {% endfor %}
</div>
<div class="row py-3">
  <div class="col-4 text-start">
     {% if articles_previous_page %}
        {% set prev_number = articles_page.number - 1 %}
        {% if prev_number == 1%} {% set prev_number = '' %} {% endif %}
        <a href="{{SITEURL}}/{{articles_page.name}}{{prev_number}}.html"><i class="bi bi-chevron-left"></i><i class="bi bi-chevron-left"></i> Previous Page</a>
     {% endif %}
  </div>
  <div class="col-4 text-center">
    {% if articles_page.number > 1 %}
      {{articles_page.number}} / {{articles_paginator.num_pages}}
    {% endif %}
  </div>
  <div class="col-4 text-end">
      {% if articles_next_page %}
      {% set next_number = articles_page.number + 1 %}
      <a href="{{SITEURL}}/{{articles_page.name}}{{next_number}}.html">Next Page <i class="bi bi-chevron-right"></i><i class="bi bi-chevron-right"></i></a>
    {% endif %}
  </div>
</div>
{% endblock content %}

