
{% extends('base.html') %}
{% from 'macros/category.j2' import category_link %}
{% block content %}
<h2><i class="bi bi-folder-fill text-warning"></i> All Categories</h2>
<div class="py-3">
{% for category, articles in categories %}
  <div class="row">
    <div class="col-3 border-top">
      <span class="f-r12">
        {{category_link(category, CAT_COLOR)}}
      </span>
      ({{articles | length}})
    </div>
    <div class="col-9 border-top ps-5">
      {% for article in articles %}
      <div class="row py-2">
        <div class="col-12 col-md-10">
         <a href="{{SITEURL}}/{{article.url}}" title="{{article.title}}">{{article.title}}</a>
        </div>
        <div class="d-none d-md-inline col-md-2 text-muted">
          <time class="small text-muted font-monospace" datetime="{{article.date.isoformat()}}">{{article.date|strftime('%d %b %Y')}}</time>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
{% endfor %}
</div>


{% endblock content %}
