{% extends('base.html') %}
{% block content %}

<div class="row">
  {% for article in articles %}
    {% if article.featured_article %}
    <div class="col-md-4">
      <div class="card mb-4 shadow-sm">
        <img class="card-img-top" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22348%22%20height%3D%22225%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20348%20225%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_17b888e22e5%20text%20%7B%20fill%3A%23eceeef%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A17pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_17b888e22e5%22%3E%3Crect%20width%3D%22348%22%20height%3D%22225%22%20fill%3D%22%2355595c%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22116.70000076293945%22%20y%3D%22120.3%22%3EThumbnail%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E">
        <div class="card-body" style="min-height: 320px;">
          <h4>{{article.title}}</h4>
          <p class="card-text">{{article.summary}}</p>
        </div>
      </div>
    </div>
    {% endif %}
  {% endfor %}
</div>
{% for article in articles_page.object_list %}
<div class="row">
  <div class="col-12">
    <a href="{{SITEURL}}/{{article.url}}" class="fw-bold f-r12">{{article.title}}</a>
  </div>
  <div class="small text-muted pb-0">
    <ul class="nav">
      <li class="pe-2" title="{{article.date|strftime('%Y-%m-%d %H:%M:%S')}}">
        <i class="bi bi-clock text-primary"></i> {{article.locale_date}}
      </li>
      <li class="pe-2">
        <i class="bi bi-folder2-open text-warning"></i>
        <a href="{{ SITEURL }}/{{ article.category.url }}">{{article.category}}</a>
      </li>
      {% if not HIDE_AUTHORS and article.authors %}
        <li class="pe-2">
          <i class="bi bi-person text-primary"></i>
          {% for author in article.authors %}
            <a href="{{SITEURL}}/{{author.url}}">{{author}}</a>{% if not loop.last %}, {% endif %}
          {% endfor %}
        </li>
      {% endif %}
    </ul>
  </div>
  <div class="pb-3 pt-0">
    <p>{{article.summary}}</p>
  </div>
</div>
{% endfor %}

<div class="row py-3">
  <div class="col-4 text-start">
    {% if articles_previous_page %}
      {% set prev_number = articles_page.number - 1 %}
      {% if prev_number == 1%} {% set prev_number = '' %} {% endif %}
      <a href="{{SITEURL}}/{{articles_page.name}}{{prev_number}}.html"><i class="bi bi-chevron-left"></i><i class="bi bi-chevron-left"></i> Previous Page</a>
    {% endif %}
  </div>
  <div class="col-4 text-center">
    {% if articles_page.number > 1 %}
      {{articles_page.number}} / {{articles_paginator.num_pages}}
    {% endif %}
  </div>
  <div class="col-4 text-end">
    {% if articles_next_page %}
      {% set next_number = articles_page.number + 1 %}
      <a href="{{SITEURL}}/{{articles_page.name}}{{next_number}}.html">Next Page <i class="bi bi-chevron-right"></i><i class="bi bi-chevron-right"></i></a>
    {% endif %}
  </div>
</div>
{% endblock content %}